<h1><%= t 'liked_reviews' %></h1>

<% if current_user.favorites.empty? %>
	<h3><%= t 'no_liked_reviews' %></h3>

<% else %>
	</br>
	<table class="table table-striped table-bordered table-hover">
  	<thead>
    	<tr>
      	<th><%= t 'title' %></th>
    	</tr>
  	</thead>

  	<tbody>
    <% current_user.favorites.each do |favorite| %>
      <tr>
          <td><%= link_to favorite.review.title, favorite.review %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<% end %>