//= require actiontext

$black: #282828;
$dark_gray: #181818;
$light_gray: #404040;

body.light, td {
    .btn-dark{
        color:white
    }
    a{
        color: $black
    }
	nav{
		background-color: lightgray;
	}
}

body.dark{
    .dropdown-menu{
        background-color: $light_gray
    }

    .btn-light{
        color: $black
    }
    a{
        color: lightgray
    }
    trix-toolbar .trix-button-group button {
        background-color: $light_gray;
    }
    .card{
        color: white;
        background-color: $black;
    }
	nav{
		color: white;
		background-color: $black;
	}
	table, th, td{
		color: white;
		background-color: $light_gray;
	}
  color: white;
  background-color: $dark_gray;
}


.rating {
    float:left;
    border:none;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}

@import "bootstrap";
